/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff8f5c;
  --ifm-color-primary-dark: #e67f52;
  --ifm-color-primary-darker: #c86e45;
  --ifm-color-primary-darkest: #a65b38;
  --ifm-color-primary-light: #ff9f74;
  --ifm-color-primary-lighter: #ffb18d;
  --ifm-color-primary-lightest: #ffc3a6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 143, 92, 0.08);
  --ifm-background-color: #0b0f1d;
  --ifm-background-surface-color: #0f1221;
}

[data-theme='dark'] {
  --ifm-color-primary: #ff9f74;
  --ifm-color-primary-dark: #ff8f5c;
  --ifm-color-primary-darker: #e67f52;
  --ifm-color-primary-darkest: #c86e45;
  --ifm-color-primary-light: #ffc3a6;
  --ifm-color-primary-lighter: #ffd5c1;
  --ifm-color-primary-lightest: #ffe7db;
  --docusaurus-highlighted-code-line-bg: rgba(255, 143, 92, 0.14);
}
